/* RESET */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* FLOAT MANAGER */
.clearfix::after{
    content: "";
    display:table;
    clear:both;
}
/* tools classes */

.relative {
    position:relative;
    
}

.container{
    width:60%;
    margin:0 auto;
    max-width:1900px;
    min-width:820px;
    
}

.float-sx{
    float: left;
}

.float-dx{
    float: right;
}

/* inizio stile */

body{
    font-family: 'Open Sans', sans-serif;
}

header {
    line-height: 70px;
    height:70px;

}

nav{
    display: inline-block;
    line-height: 60px;
}

nav ul li {
    display:inline;
    list-style-type: none;
    margin-right:20px;
}

nav ul li a {
    text-decoration:none;
    color: rgb(7, 6, 6);
    font-size:0.80rem;
}

.header-right{
    width:50%;  
    text-align:right;
}

.header-left{
    width:50%;
}

.logo{
    padding:0 10px;
    display: inline-block;
    vertical-align:middle;
    padding-bottom:3px;
}

.drop-button{
    background-color: rgb(40,95,246);
    display:inline;
    padding:4px 15px;
    color: white;
    text-decoration:none;
}

.drop-button-enterprise{
    background-color: rgb(40,95,246);
    display:inline;
    padding:4px 30px;
    color: white;
    margin-left:60px;
    text-decoration:none;
}

.jumbotron-right{
    width:75%;
}

.jumbotron-right img{
    width:85%;
    margin-left: 2rem;  
}

.jumbo-left-text{
    font-weight:500;
    font-size:14px;
    text-align:left;
    color: black;
    padding-bottom:20px;
}

.small-text {
    font-size:0.8rem;
    margin-top:10px;
    padding-bottom:40px;
}

.small-text-plan{
    font-size:0.75rem;
    
}

.small-text-plan a:link{
    text-decoration: none;
}

.margine {
    text-align:center;

}

.drop-buy-link{
    text-align:left;
}

.fas{
    font-size: 2rem;
}

section#jumbotron {
    background-color:rgb(185, 207, 229);
    width:100%;
    min-height:760px;
}

section#jumbotron h1{
    font-size:4.2rem;
    font-weight:700;
    width:100%;
    margin-bottom:40px;
    width:90%;
}

section#jumbotron a:link{
    text-decoration:none;
    font-size:0.8rem;
    
}

section#jumbotron .small-text{
    font-size:0.7rem;
}

section#jumbotron .centered-content {
    position: absolute;
    top:20%;
    left:10%;
}

section#jumbotron .centered-content .jumbotron-left {
    width:25%;
    
}

section#drop-business {
    height:1200px;
    width:100%;
}

section#drop-business .standard-plan{
    width: calc((100% / 3) - 20px);
    margin:0 10px;
    border:1px solid lightgrey;
    padding:0 20px 50px 20px;
}

.professional-plan{
    width: calc(100% / 3);
    border:1px solid lightgrey;
    padding:0 20px 70px 20px;
    
}

section#drop-business .advanced-plan{
    width: calc(100% / 3);
    border:1px solid lightgrey;
    padding:0 20px 68px 20px;
    
}

section#drop-business .professional-plan .title-plan{
    margin-bottom:20px;
}

h2{
    font-size: 2rem;
    margin-top:80px;
    margin-bottom:60px;
    
}

h3{
    margin-top:20px;
    
}

.mini-divider{
    width:50px;
    margin-top:0px;
    
    border: 1 px solid lightgray;
}

a:link{
    color:  rgb(40,95,246);
    /* font-weight:bold; */
}

section#drop-business .professional-plan .user-plan, section#drop-business .standard-plan .user-plan, section#drop-business .advanced-plan .user-plan{
    text-align:center;
    /* padding:0px;
    border-bottom:1px solid lightgrey; */
  
}

.user-plan{
    border-bottom:1px solid lightgray;
}

/* section#drop-business .professional-plan ul, section#drop-business .standard-plan ul,
section#drop-business .advanced-plan ul{
    padding-top:30px;
    margin-left:20px;
} */

section#drop-business .professional-plan ul li, section#drop-business .standard-plan ul li,
section#drop-business .advanced-plan ul li{
    margin-bottom:10px;
    list-style-type: none;
    width:70%;
}

.user-plan{
    border-bottom:1px solid lightgray;
    padding:5px 0;
    height:30px;
    width:100%
    
}

.user-plan p {
    padding-bottom: 15px;
    text-align:center;
    vertical-align: center;
}

.price-plan{
    font-weight:bold;
}

.price-plan .mese p{
    color: white;
}

.header-drop-business {
    padding-top:120px;
    
    margin-bottom:20px;

    width:60%;
    
    margin: 0 auto 0 auto
    
    
}
.header-drop-business .drop-radio p {
    margin-right:20px;
} 

.main-drop-business{
    margin-bottom: 30px;
}

section#drop-business .enterprise-plan{
    width:60%;
    height:200px;
    border: 1px solid lightgrey;
    margin:0 auto;
    vertical-align: baseline;
}

.enterprise-dx{
    width:50%;
    
}



.small-text-enterprise{
    padding-bottom:5px;
    font-size:0.7rem;
    text-align:right;
    
}

.enterprise-sx{
    width: 35%;

    
}

h4 {
    font-size:1.2rem;
    margin-top:10px;
    margin-bottom: 10px;
}



.enterprise-content{
    position: relative;
    left:25px;
    top:25px;
}

.enterprise-subtitle{
    font-size: 0.8rem;
    font-weight:bold;
    color:black;
}

.enterprise-text{
    margin-top:30px;
    
}

.drop-best{
    border-top:1px solid lightgray;
    width:100%;
}

span .fas{
    font-size:0.8rem;
    color:rgb(40,95,246);
    margin-right:5px;
}


.partner-image{
    width:55%;

}
.partner-image img{

    width:100%;

}




section#drop-partner{
    width:100%;
    padding-top: 250px;
    margin-top:100px;
}

.partner-text{
    width:45%;
    margin-top:20px;
}

.partner-text h4{
    margin: 20px 40px;
    width:100%;
    
}

.partner-text p {
    font-size: 0.7rem;
    font-weight:600;
    line-height:20px;
    margin: 20px 30px 20px 40px;
    
}

.drop-button-partner  {
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    padding: 6px 15px;
    
}

.partner-text a {
    font-size:0.8rem;
    font-weight:600;
    margin-left:40px;
    text-decoration:none;
    color:black;
}

