/* RESET */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* FLOAT MANAGER */
.clearfix::after{
    content: "";
    display:table;
    clear:both;
}
/* tools classes */

.relative {
    position:relative;
    
}

.container{
    width:60%;
    margin:0 auto;
    max-width:1900px;
    min-width:820px;
    
}

.float-sx{
    float: left;
}

.float-dx{
    float: right;
}

/* inizio stile */

body{
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-size: 2rem;
    margin-top:80px;
    margin-bottom:60px;
    
}

h3{
    margin-top:20px;
}

h4 {
    font-size:1.2rem;
    margin-top:10px;
    margin-bottom: 10px;
}

h5 {
    margin-top:40px;
    margin-bottom:20px;
}


header {
    line-height: 70px;
    height:70px;
    background-color: white;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.10);
    width:100%;
    position:fixed;
    z-index:2;
}

header a:hover{
    border-bottom: 5px solid rgb(55, 94, 237);
    width:10px;
    height:70px;
    padding-bottom:25px;
    padding-top:30px;
    background-color:rgba(211, 211, 211, 0.25);
}

footer{
    width:100%;
    height:435px;
    background-color: black;
    color:white;    
}

nav{
    display: inline-block;
    line-height: 60px;
}

nav ul li {
    display:inline;
    list-style-type: none;
    margin-right:20px;
}

nav ul li a {
    text-decoration:none;
    color: rgb(7, 6, 6);
    font-size:0.80rem;
}

.small-text-plan{
    font-size:0.75rem;
    
}

.small-text-plan a:link{
    text-decoration: none;
}

.drop-buy-link{
    text-align:left;
}

.far {
    margin-right:5px;
}

.fas{
    font-size: 2rem;
    
}
.mini-divider{
    width:50px;
    margin-top:0px;
    border: 1 px solid lightgray;
}



/* header e menù di navigazione */

.header-right{
    width:50%;  
    text-align:right;
}

.header-left{
    width:50%;
}

.logo{
    padding:0 10px;
    display: inline-block;
    vertical-align:middle;
    padding-bottom:3px;
}

.drop-button{
    background-color: rgb(40,95,246);
    display:inline;
    padding:4px 15px;
    color: white;
    text-decoration:none;
}

/* sezione principale */

.jumbotron-right{
    width:75%;
}

.jumbotron-right img{
    width:85%;
    margin-left: 2rem;  
}

.jumbo-left-text{
    font-weight:500;
    font-size:14px;
    text-align:left;
    color: black;
    padding-bottom:20px;
}

.small-text {
    font-size:0.7rem;
    margin-top:10px;
    padding-bottom:40px;
}

section#jumbotron {
    background-color:rgb(185, 207, 229);
    width:100%;
    min-height:760px;
}

section#jumbotron h1{
    font-size:4.2rem;
    font-weight:700;
    width:100%;
    margin-bottom:40px;
    width:90%;
}

section#jumbotron a:link{
    text-decoration:none;
    font-size:0.8rem;
    
}

section#jumbotron .small-text{
    font-size:0.7rem;
}

section#jumbotron .centered-content {
    position: absolute;
    top:20%;
    left:10%;
}

section#jumbotron .centered-content .jumbotron-left {
    width:25%;
    
}

/* sezione price-plan offerta dropbox */

section#drop-business .standard-plan{
    width: 30%;
    margin:0 42px;
    border:1px solid lightgrey;
}

.drop-pay{
    margin-right:20px;
}

.professional-plan{
    width: 30%;
    border:1px solid lightgrey;
    padding-bottom:50px;
}

.professional-column{
    margin-left: 30px;
    padding-bottom:78px;
}

.standard-column{
    margin-left: 30px;
    padding-bottom:70px;
}

.advanced-column{
    margin-left: 30px;
    padding-bottom:70px;
}

.advanced-plan{
    width: 30%;
    border:1px solid lightgrey;
    
}

.fas.check-blue{
    color:blue;
}

p.small-text.mese{
    color:gray;
}

section#drop-business .professional-plan .title-plan, section#drop-business .standard-plan .title-plan, section#drop-business .advanced-plan .title-plan{
    margin-bottom:20px;
}

.user-plan{
    border-bottom:1px solid lightgray;
}

.user-plan{
    width:100%;
}

section#drop-business .professional-plan ul li, section#drop-business .standard-plan ul li,
section#drop-business .advanced-plan ul li{
    margin-bottom:10px;
    margin-left:20px;
    list-style-type: none;
    width:70%;
    padding-bottom:20px;
    font-size:10px;
    text-indent: -10px;
}

.user-plan{
    border-bottom:1px solid lightgray;
    padding:5px 0;
    height:30px;
    width:100%
    
}

.user-plan p {
    padding-bottom: 15px;
    text-align:center;
    line-height:0.5px;
}

.price-plan{
    font-weight:bold;
}

.header-drop-business {
    padding-top:120px;
    margin-bottom:20px;
    width:60%;
    margin: 0 auto 0 auto
}

.header-drop-business .drop-radio  {
    display:inline-block;
    margin-right:20px;
} 

.main-drop-business{
    margin-bottom: 30px;
}

section#drop-business .enterprise-plan{
    width:60%;
    height:200px;
    border: 1px solid lightgrey;
    margin:0 auto;
    vertical-align: baseline;
    max-width:1180
}

.drop-button-enterprise{
    background-color: rgb(40,95,246);
    display:inline;
    padding:4px 30px;
    color: white;
    margin-left:60px;
    text-decoration:none;
}

.enterprise-dx{
    width:50%;
}

.enterprise-sx{
    width: 35%;
}

.small-text-enterprise{
    padding-bottom:5px;
    font-size:0.7rem;
    text-align:right;
    
}

.enterprise-content{
    position: relative;
    left:25px;
    top:25px;
}

.enterprise-subtitle{
    font-size: 0.8rem;
    font-weight:bold;
    color:black;
}

.enterprise-text{
    margin-top:30px;
    
}

.drop-best{
    border-top:1px solid lightgray;
    width:100%;
}

span .fas{
    font-size:0.8rem;
    color: black;
    margin-right:5px;
    vertical-align: middle;
}

.partner-image{
    width:55%;
}

.partner-image img{
    width:100%;
}

/* sezione partner */

section#drop-partner{
    width:100%;
    
    margin-top:100px;
}

.partner-text{
    width:45%;
    margin-top:20px;
}

.partner-text h4{
    margin: 20px 40px;
    width:100%;
    
}

.partner-text p {
    font-size: 0.7rem;
    font-weight:600;
    line-height:20px;
    margin: 20px 30px 20px 40px;
    
}

.drop-button-partner  {
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    padding: 6px 15px;
    
}

.partner-text a {
    font-size:0.8rem;
    font-weight:600;
    margin-left:40px;
    text-decoration:none;
    color:black;
}

/* sezione servizi */

.drop-first-feature{
    width: calc(100% / 3)
}

.drop-first-feature p, .drop-second-feature p, .drop-third-feature p{
    width: 75%;
}

.drop-second-feature{
    width: calc(100% / 3);

} 

.drop-third-feature{
    width: calc(100% / 3);
}

.feature-image img{
    width: 90%;
    text-align:left;
}

.feature-text{
    font-size: 0.6rem;
    font-weight:500;
}

.container-feature{
    width:70%;
    margin:0 auto;
    max-width: 1180px;
    max-width: 600px;
} 

.second-row-feature{
    margin-top:30px;
}

.box-sx{
    width:30%;
    height:400px;
    background-color:black;
}

.box-dx{
    width: 30%;
    height:400px;
    background-color:red;
}

.middle-box{
    width:40%;
    height:400px;
    background-color: rgba(245,245,245,255);
}

.box-logo-one{
    width:50%;
    height:50%;
    background-color: rgb(172,210,160);
    border: 10px solid rgb(213,232,207);
}

.box-logo-second{
    width:50%;
    height:50%;
    background-color: rgba(97,2,39,255);
}

.box-logo-third{
    width:50%;
    height:50%;
    background-color: rgba(0,148,207,255);
}

.box-logo-fourth{
    width:50%;
    height:50%;
    background-color: rgba(255,22,22,255);
}

.box-logo-wbr{
    width:50%;
    height:50%;
    background-color:rgba(214,0,25,255)
}

.box-logo-hearst{
    width:50%;
    height:50%;
    background-color:rgba(181,209,232,255);
}

.box-logo-lonely-planet{
    width:50%;
    height:50%;
    background-color:rgba(5,31,130,255);
}

.box-logo-clear-channell{
    width:50%;
    height:50%;
    background-color:rgba(255,217,44,255);
}

.logo-team{
    width:60%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
    
}

.main-team{
    position:absolute;
    width:20%;
    top:30px;
    left:40px;
}

.team-text{
    position:absolute;
    width:80%;
    top:120px;
    left:40px;
    font-weight: 400;
}

.team-quote, .team-author-quote {
    font-size:0.9rem;
    margin-top:30px;
}

.team-author-quote{
    margin-top:60px;
}

.mini-divider-team{
    width:50px;
    color:lightgray;
    position:absolute;
    top:100px;
    left:40px;
}

section#drop-team {
    padding-top: 120px;
}

section#drop-team .header-team {
    width:50%;
    margin-bottom:30px;
    padding-bottom: 60px;
}

/* sezione contatti per prova gratutia */

section#drop-trial{
    width:100%;
    height:350px;
    background-color:rgba(181,209,232,255);
}

.trial-text{
    width:50%;
}

.trial-text h2{
    margin-top: 120px;
}

.trial-button{
    width:50%;
}

.drop-button-trial{
    background-color:white;
    border-color:1px solid black;
    padding:5px 30px;
    margin-top:40px;
    font-size:0.8rem;
    font-weight:600;
    text-decoration:none;
    color:black;
    display:inline-block;
    margin-top:120px;
    margin-left:200px;
}

/* sezione FAQ */


.faq-title{
    font-size: 1.6rem;
    margin-bottom:50px;
}

.row-faq{
    border-top:0.5px solid lightgray;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom:0px;
}

.row-faq .last{
    border-bottom:0.5px solid lightgray;
    padding-bottom:20px;
    margin-top:40px;
    width:100%;
    
}

.drop-text h5{
    margin-top:10px;
    margin-bottom:10px;
}

.drop-arrow i {
    font-size: 1.3em;
    margin-top:0.5em;
    margin-right:30px;
    vertical-align: middle;
}

section#drop-faq{
    width:100%;
    padding-top:100px;
    padding-bottom:80px;
}

/* sezione footer */

.container-footer{
    width:82%;
    margin:0 auto;
    max-width:1900px;
    min-width:820px;
}

.top-footer ul {
    margin-right:110px;
    margin-top:80px;
    
}

.top-footer ul li {
    font-size:0.7rem;
    font-weight:600;
    list-style-type: none;
    line-height:1.5rem;
}

.top-footer ul h4{
    font-size:1rem;
    font-weight: bold;
    padding-bottom:5px;
}

.mini-divider-footer{
    width:102px;
    border-bottom: 1 px solid lightgray;
}

.footer-lang{
    margin-top:100px;
}

.top-footer ul li a{
    text-decoration:none;
    color:white;
}

.drop-language-selector{
    padding-top:35px;
}

.drop-language-selector p{
    font-size: 0.7rem;
    margin-top:5px;
    margin-right:2px;
    color:lightgray;
}

.drop-language-selector i{
    color:gray
}

.drop-language-selector span{
    margin-right:2px;
    padding:0;
}